html,
body{
  margin: 0;
  height:100%;
  font-family: 'Open Sans', sans-serif;
}
.fullpage{
  display: flex;
  flex: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.icon-wraper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.icon{
  margin: 10px;
}
